<p>
<h3>Desarrollo de la Aplicaci&oacute;n</h3>
<img src="/images/author.jpg" width="100" height="100" alt="H&eacute;ctor Daniel Brunet">
<p>H&eacute;ctor Daniel Brunet</p>
<p>Ingeniero en Sistemas de Informaci&oacute;n</p>
<p><a href="mailto:hectorbrunet@gmail.com">hectorbrunet@gmail.com</a></p>
</p>